body{
    background-color: #a567c1;
}

header{
    background-color: #f3e9f1;
}

footer{
    margin-top: 50px;
}

#logo{
    width: 35%;
}

.navbar-brand{
    width: 70%;
}

h1, h2{
    text-align: center;
}

h2{
    margin-top: 65px;
    margin-bottom: 65px;
}

.jumbotron{
    background: linear-gradient(to bottom, #935df4, #a567c1);
}

img{
    width: 400px;
}

.lignePanier-img{
    width: 150px;
}

@media screen and (min-width: 1200px) {
    .carteAccueil{
        height: 360px;
    }
}

@media screen and (min-width: 992px){
    .carteProduit{
        width: 600px;
        margin: auto;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .carteAccueil{
        height: 330px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .carteAccueil{
        height: 270px;
    }
}

@media screen and (max-width: 768px){
    .lignePanier-img{
        width: 100px;
    }
    
    .carteproduit-ref_choixPrix{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 20px;
    }
}

.carteAccueil{
    background-color: #f3e9f1;
    color: #a567c1;
    border-radius: 15%;
    overflow: hidden;
}

.carteAccueil-img{
    height: 82%;
}

.carteAccueil-ref{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}

.carteProduit-ref{
    background-color: #f3e9f1;
}

.carteproduit-ref_choixPrix{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.btn{
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.quantite{
    width: 50px;
}
