body{
    background-color: #a567c1;
}

header{
    background-color: #f3e9f1;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

img{
    width: 350px;
}

h1{
    text-align: center;
}

.navbar-toggler{
    background-color: blue;
}

.jumbotron{
    background: linear-gradient(to bottom, #935df4, #a567c1);
}