body{
    background: linear-gradient(to bottom, #8751fd, #c58be0);
}

header{
    background-color: #f3e9f1;
}

footer{
    margin-top: 50px;
    background: linear-gradient(to top, #f3dfef, #935df4);
}
.carte-footer{
    flex-direction: row;
    justify-content: space-around;
    color: black;
    padding: 5px;
    background: linear-gradient(to top, #f3dfef, #c58be0);
}

.orinours{
    font-family: 'Finger Paint', cursive;
    margin-bottom: 0;
    text-align: center;
    font-size: xx-large;
    background: linear-gradient(to bottom, #ce7d4d, #8f5bfe);
}

#logo{
    width: 35%;
}

.navbar-brand{
    width: 70%;
}

h1, h2{
    text-align: center;
}

h2{
    margin-top: 65px;
    margin-bottom: 65px;
}

/* .jumbotron{
    background: linear-gradient(to top, #f3dfef, #935df4);
} */

img{
    width: 400px;
}

.lignePanier-img{
    width: 150px;
}

@media screen and (min-width: 1200px) {
    .carteAccueil{
        height: 360px;
    }
}

@media screen and (min-width: 992px){
    .carteProduit{
        width: 600px;
        margin: auto;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .carteAccueil{
        height: 330px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .carteAccueil{
        height: 270px;
    }
}

@media screen and (max-width: 768px){
    .lignePanier-img{
        width: 100px;
    }
    
    .carteproduit-ref_choixPrix{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 20px;
    }

    .carte-footer{
        flex-direction: column;
        justify-content: space-around;
    }
}

.carteAccueil{
    background-color: #f3e9f1;
    color: #a567c1;
    border-radius: 15%;
    overflow: hidden;
}

.carteAccueil-img{
    height: 82%;
}

.carteAccueil-ref{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}

.carteProduit-ref{
    background-color: #f3e9f1;
}

.carteproduit-ref_choixPrix{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;
}

.btn{
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.quantite{
    width: 60px;
}

.prix{
    align-self: flex-end;
    font-size: larger;
}